In [5]:
import logging

In [6]:
logs = logging.getLogger()

In [177]:
import mysql.connector

#AshishSQL100@2020
mydb = mysql.connector.connect(
  host="localhost",
  user="ashish",
  password="AshishSQL100@2020",
  database="mydatabase",
  auth_plugin='mysql_native_password'
)

mycursor = mydb.cursor(buffered=True)

sql = """DROP TABLE exam"""
sql1 = "SHOW TABLES LIKE 'Exams';"
mycursor.execute(sql)
mydb.commit()
results = mycursor.fetchone()
try:
    print("hello There")
    mycursor.execute(sql)
except mysql.connector.ProgrammingError as e:
    logs.info(e)
    print(e)

KeyboardInterrupt:

In [87]:
data = [["Name1", "Place1"],["N1", "P1"], ["N2", "P2"], ["N3", "P3"], ["N4", "P4"],["N5", "P5"],["N6", "P6"],["N7","P7"]]

sql_create_table = """CREATE TABLE Practice(
                                       Name VARCHAR(20),
                                       Place VARCHAR(20)
                                       )"""

sql_insert_statement = """INSERT INTO {}(
                                        Name,
                                        Place) VALUES (%s, %s);"""


#writeSQL(data, "Practice", sql_insert_statement, drop = False)
insertDataToSQL(data, sql_insert_statement, "Practice")

In [127]:
x = "12/23/23"
x.replace('/','-')

'12-23-23'

In [9]:
import datetime

date_time_str = '2018-06-29 08:15:27.243860'
dt_tm = date_time_str[:-7]
print(dt_tm)
date_time_obj = datetime.datetime.strptime(dt_tm, '%Y-%m-%d %H:%M:%S')

print('Date:', date_time_obj.date())
print('Time:', date_time_obj.time())
print('Date-time:', date_time_obj)

2018-06-29 08:15:27
Date: 2018-06-29
Time: 08:15:27
Date-time: 2018-06-29 08:15:27

In [29]:
from __future__ import print_function
import pickle
import os.path
from googleapiclient.discovery import build
from google_auth_oauthlib.flow import InstalledAppFlow
from google.auth.transport.requests import Request

# If modifying these scopes, delete the file token.pickle.
SCOPES = ['https://www.googleapis.com/auth/spreadsheets.readonly']

# The ID and range of a sample spreadsheet.
SAMPLE_SPREADSHEET_ID = '1gJKZmIuckbdHhGDJ7xqokvmDexNYdlpEU6gZxs-ajdw'
SAMPLE_RANGE_NAME = 'A1:H100'

def main():
    """Shows basic usage of the Sheets API.
    Prints values from a sample spreadsheet.
    """
    creds = None
    # The file token.pickle stores the user's access and refresh tokens, and is
    # created automatically when the authorization flow completes for the first
    # time.
    if os.path.exists('token.pickle'):
        with open('token.pickle', 'rb') as token:
            creds = pickle.load(token)
    # If there are no (valid) credentials available, let the user log in.
    if not creds or not creds.valid:
        if creds and creds.expired and creds.refresh_token:
            creds.refresh(Request())
        else:
            flow = InstalledAppFlow.from_client_secrets_file(
                'credentials.json', SCOPES)
            creds = flow.run_local_server(port=0)
        # Save the credentials for the next run
        with open('token.pickle', 'wb') as token:
            pickle.dump(creds, token)

    service = build('sheets', 'v4', credentials=creds)

    # Call the Sheets API
    sheet = service.spreadsheets()
    result = sheet.values().get(spreadsheetId=SAMPLE_SPREADSHEET_ID,
                                range=SAMPLE_RANGE_NAME).execute()
    
    values = result.get('values', [])
    for value in values[1:]:
        #print(value[0])
        #value[0] = value[0].replace('/', '-')
        value[0] = datetime.datetime.strptime(value[0], '%d/%m/%Y %H:%M:%S')
        userScore = value[1][0]
        FullScore = value[1][-2:]
        #print(value)
        #print(userScore, FullScore)
        del(value[1])
        value.insert(1,FullScore)
        value.insert(1,userScore)
        if len(value) == 8:
            value.append("")
        value = tuple(value)
        #print(value)
    #print(values)
    values = tuple(values)
    sql_insert_statement = """INSERT INTO {}( 
            TimeStamp,
            UserScore,
            FullScore,
            Name,
            School,
            Block,
            District,
            PhoneNo,
            IsInstalledApp
            )
            VALUES ( %s,%s,%s,%s,%s,%s,%s,%s,%s );"""
    
    sql_create_table = """CREATE TABLE {}( 
            TimeStamp DATETIME,
            UserScore VARCHAR(10),
            FullScore VARCHAR(10),
            Name VARCHAR(100),
            School VARCHAR(100),
            Block VARCHAR(100),
            District VARCHAR(100),
            PhoneNo VARCHAR(13),
            IsInstalledApp VARCHAR(10)
            );"""
    
    if not values:
        print('No data found.')
    else:
        
        createSQLTable("exam", sql_create_table)
        insertDataToSQL(values[1:], sql_insert_statement, "exam")
        #for row in values[1
            # Insert the data into the SQL table lindata
            #sql = "INSERT INTO lindata (ClientId, AvgTickets, NumEmployees, VoContract, Industry) VALUES (%s, %s, %s, %s, %s)" 
            #val = (row[0], row[1], row[2], row[3], row[4])
            #mycursor.execute(sql, val)

            #mydb.commit()+

            #print(mycursor.rowcount, "record inserted.")
            
            
if __name__ == "__main__":
    main()
    connection = mysql.connector.connect(
        user = mc.user,
        password = mc.password,
        host = mc.host,
        database = mc.database,
        auth_plugin='mysql_native_password'
        ) 
    connection.autocommit = True
    cursor = connection.cursor(buffered=True)
    cursor.execute("select * from exam")
    myresult = cursor.fetchall()
    for x in myresult:
        print(x)
    cursor.close()
    connection.close()

20/12/2020 06:47:21
(datetime.datetime(2020, 12, 20, 6, 47, 21), '0', '15', 'Bulu senapati', 'GHS Naranpur', 'Ghatagaon', 'Keonjhar', '8260549412', 'Yes')
20/12/2020 07:11:53
(datetime.datetime(2020, 12, 20, 7, 11, 53), '9', '15', 'Jena Naik', 'Govt High school Takera', 'Daspalla', 'Nayagarh', '7008133082', 'Yes')
20/12/2020 07:26:57
(datetime.datetime(2020, 12, 20, 7, 26, 57), '3', '15', 'Medkram mandangi', 'Govt High school puttasing', 'Gunupur', 'Rayagada', '8688561053', 'Yes')
20/12/2020 07:50:07
(datetime.datetime(2020, 12, 20, 7, 50, 7), '5', '15', 'Snehasis Satapathy', 'Ravenshaw collegiate school', 'Gaisilet', 'Cuttack', '9348556416', 'No')
20/12/2020 07:59:20
(datetime.datetime(2020, 12, 20, 7, 59, 20), '2', '15', 'Jagannathnayak', 'Govts.s.d.highschoolkaliaguda', 'Mathili', 'Malkangiri', '8280298661', '')
20/12/2020 08:03:07
(datetime.datetime(2020, 12, 20, 8, 3, 7), '4', '15', 'Priyanka', 'Govt SSD high school sambalpuri', 'Banarpal', 'Ganjam', '542369', 'Yes')
20/12/2020 08:04:02
(datetime.datetime(2020, 12, 20, 8, 4, 2), '7', '15', 'Nihar ranjan jena', 'Mulishing ucha vidyapitha', 'Soro', 'Balasore', '8455805529', 'Yes')
20/12/2020 08:05:01
(datetime.datetime(2020, 12, 20, 8, 5, 1), '0', '15', 'Bulu senapati', 'GHS Naranpur', 'Ghatagaon', 'Keonjhar', '8260549412', 'Yes')
20/12/2020 08:11:16
(datetime.datetime(2020, 12, 20, 8, 11, 16), '1', '15', 'A srabani sahoo', 'Govt SSD high school sodamal', '', 'Jharsuguda', '9938269541', 'Yes')
20/12/2020 08:11:53
(datetime.datetime(2020, 12, 20, 8, 11, 53), '7', '15', 'Ankit Ghosh', 'Saraswati shishu vidya mandir PATARA', 'Remuna', 'Balasore', '9861558139', 'Yes')
20/12/2020 08:12:48
(datetime.datetime(2020, 12, 20, 8, 12, 48), '6', '15', 'Aaaaa', 'Aaaaaaa', 'Narla', 'Kalahandi', '1234567890', 'No')
20/12/2020 08:13:58
(datetime.datetime(2020, 12, 20, 8, 13, 58), '3', '15', 'Rajeshkumbhar', 'Jagannth govt high schoollakhamara', 'Paikmal', 'Bargarh', '9078399734', 'Yes')
20/12/2020 08:14:11
(datetime.datetime(2020, 12, 20, 8, 14, 11), '7', '15', 'Manaswini Routray ', 'S S V M', 'Mahakalpada', 'Kendrapara', '9348138148', 'Yes')
20/12/2020 08:14:36
(datetime.datetime(2020, 12, 20, 8, 14, 36), '1', '15', 'Chandan behera', 'Govt ssd high school', 'Rasgovindpur', 'Mayurbhanj', '6757', 'Yes')
20/12/2020 08:14:37
(datetime.datetime(2020, 12, 20, 8, 14, 37), '4', '15', 'Soumya Ranjan Bonichol', 'Nabajyoti high school', 'Pallahara', 'Angul', '8260565917', 'Yes')
20/12/2020 08:14:40
(datetime.datetime(2020, 12, 20, 8, 14, 40), '6', '15', 'Jayasen jani', 'Govt(SSD)high school Dasamantpur', 'Dasmantapur', 'Koraput', '8260902644', 'Yes')
20/12/2020 08:14:50
(datetime.datetime(2020, 12, 20, 8, 14, 50), '1', '15', 'Chandan behera', 'Govt ssd high school', 'Rasgovindpur', 'Mayurbhanj', '6757', 'Yes')
20/12/2020 08:15:27
(datetime.datetime(2020, 12, 20, 8, 15, 27), '8', '15', 'Ayush man pati', 'SSVM, Ghatikia', '', 'Khordha', '8114871921', 'Yes')
20/12/2020 08:17:05
(datetime.datetime(2020, 12, 20, 8, 17, 5), '1', '15', 'Dheeraj Kumar Sahu', 'S.A.I.E.C.BANDHAPADA', 'Kesinga', 'Kalahandi', '9937218929', 'No')
20/12/2020 08:17:09
(datetime.datetime(2020, 12, 20, 8, 17, 9), '6', '15', 'X', 'Y', 'Talcher', 'Bhadrak', '5236418018', 'Yes')
20/12/2020 08:17:27
(datetime.datetime(2020, 12, 20, 8, 17, 27), '1', '15', 'Chandan behera', 'Govt ssd high school', 'Rasgovindpur', 'Mayurbhanj', '6757', 'Yes')
20/12/2020 08:17:48
(datetime.datetime(2020, 12, 20, 8, 17, 48), '5', '15', 'Alok', 'SAIIE', 'Angul', 'Angul', '7879906543', 'Yes')
20/12/2020 08:17:49
(datetime.datetime(2020, 12, 20, 8, 17, 49), '5', '15', 'Satya sundar barik ', 'J.V.N Mahulpal (B)', 'Bhuban', 'Dhenkanal', '9348679935', '')
20/12/2020 08:19:04
(datetime.datetime(2020, 12, 20, 8, 19, 4), '6', '15', 'Abhilipsa sahoo', 'J.v.n Mahulpal', 'Bhuban', 'Dhenkanal', '7008906740', 'Yes')
20/12/2020 08:19:12
(datetime.datetime(2020, 12, 20, 8, 19, 12), '6', '15', 'Annapurna moharana ', 'Mukteswarpanchayatraj high school ', '', 'Jagatsinghapur', '7326824996', 'No')
20/12/2020 08:20:09
(datetime.datetime(2020, 12, 20, 8, 20, 9), '4', '15', 'Chandra Kanti Dehuri', 'GOVT ( SSD) High school Banabhui', 'Nilagiri', 'Balasore', '8260681605', 'Yes')
20/12/2020 08:21:01
(datetime.datetime(2020, 12, 20, 8, 21, 1), '1', '15', 'Debarshi', 'Sri Aurobindo Institute of Integral Education, Kainipura', 'Jhumpura', 'Keonjhar', '6371479522', 'Yes')
20/12/2020 08:21:03
(datetime.datetime(2020, 12, 20, 8, 21, 3), '1', '15', 'Manoranjan behera', 'Govt (s.s.d) high school, Nalagaja', 'Rasgovindpur', 'Mayurbhanj', '6371466342', 'Yes')
20/12/2020 08:21:08
(datetime.datetime(2020, 12, 20, 8, 21, 8), '1', '15', 'Swarnaprava priyadarshini', 'S.A.I.E.C.matrubihar kalupadaghat', 'Chilka', 'Khordha', '7978583070', 'Yes')
20/12/2020 08:22:01
(datetime.datetime(2020, 12, 20, 8, 22, 1), '6', '15', 'Kanha', 'Apups', 'Chhendipada', 'Angul', '1995372419', 'Yes')
20/12/2020 08:22:44
(datetime.datetime(2020, 12, 20, 8, 22, 44), '2', '15', 'Romiya', 'Mallick', 'Kotagad', 'Kandhamal', '9861126419', 'Yes')
20/12/2020 08:23:46
(datetime.datetime(2020, 12, 20, 8, 23, 46), '8', '15', 'Tanmaya Kumar Sahoo', 'Jharabereni GP High school', 'Athmallik', 'Angul', '6371461176', 'No')
20/12/2020 08:23:55
(datetime.datetime(2020, 12, 20, 8, 23, 55), '7', '15', 'Seema  kisan', 'Govet  s. S. D  high  school  kansar', 'Barkote', 'Deogarh', '7873556899', 'Yes')
20/12/2020 08:23:59
(datetime.datetime(2020, 12, 20, 8, 23, 59), '1', '15', 'Swarnaprava priyadarshini', 'S.A.I.E.C.matrubihar kalupadaghat', 'Chilka', 'Khordha', '7978583070', 'Yes')
20/12/2020 08:24:18
(datetime.datetime(2020, 12, 20, 8, 24, 18), '6', '15', 'Pooja Padhan ', 'Sarkanda high school ', 'Sohela', 'Bargarh', '7854850543', 'Yes')
20/12/2020 08:24:25
(datetime.datetime(2020, 12, 20, 8, 24, 25), '8', '15', 'Priyabrat Pradhan ', 'Anchalik high school kushakhalia ', 'Kaniha', 'Angul', '9937903131', '')
20/12/2020 08:24:34
(datetime.datetime(2020, 12, 20, 8, 24, 34), '7', '15', 'Arun Kumar Barik', 'Sarwswati Sishu Vidya Mandir, Balichandrapur', 'Mahanga', 'Jajpur', '8260571134', 'Yes')
20/12/2020 08:24:51
(datetime.datetime(2020, 12, 20, 8, 24, 51), '4', '15', 'Romiya', 'Mallick', 'Kotagad', 'Kandhamal', '9861126419', 'Yes')
20/12/2020 08:24:58
(datetime.datetime(2020, 12, 20, 8, 24, 58), '3', '15', 'Tulasi behera', 'Jatiya vhidha niketana mahula pal', 'Deogaon', 'Dhenkanal', '7205983951', 'Yes')
20/12/2020 08:25:11
(datetime.datetime(2020, 12, 20, 8, 25, 11), '7', '15', 'Gyanaranjan Das', 'Bahudarada govt High school', '', 'Boudh', '8260318954', 'No')
20/12/2020 08:25:19
(datetime.datetime(2020, 12, 20, 8, 25, 19), '4', '15', 'abhinash meher', 'purusottam high school,ruchida', 'Bargarh', 'Bargarh', '9556795141', '')
20/12/2020 08:25:27
(datetime.datetime(2020, 12, 20, 8, 25, 27), '7', '15', 'Sarita Nayak', 'Panchayat Govt.high school', 'Dhenkanal', 'Dhenkanal', '7848996180', 'No')
20/12/2020 08:25:31
(datetime.datetime(2020, 12, 20, 8, 25, 31), '7', '15', 'Subhalaxmi behera ', 'SST girls highschool, Tato', 'Karanjia', 'Mayurbhanj', '7894366008', 'Yes')
20/12/2020 08:25:55
(datetime.datetime(2020, 12, 20, 8, 25, 55), '5', '15', 'Sushree Sangita Sahoo', 'Panchayat Govt. High School, kantapal', 'Kamakshyanagar', 'Dhenkanal', '7847816105', 'No')
20/12/2020 08:26:01
(datetime.datetime(2020, 12, 20, 8, 26, 1), '0', '15', 'Barsha priyadarashini samal', 'Anchalika ucha vidyapitha Lahada', 'Gandia', 'Dhenkanal', '7735603187', 'Yes')
20/12/2020 08:26:03
(datetime.datetime(2020, 12, 20, 8, 26, 3), '9', '15', 'Arun Kumar Barik', 'Sarwswati Sishu Vidya Mandir, Balichandrapur', 'Mahanga', 'Jajpur', '8260571134', 'Yes')
20/12/2020 08:26:09
(datetime.datetime(2020, 12, 20, 8, 26, 9), '3', '15', 'Romiya', 'Mallick', 'Kotagad', 'Kandhamal', '9861126419', 'Yes')
20/12/2020 08:26:39
(datetime.datetime(2020, 12, 20, 8, 26, 39), '8', '15', 'Bulu senapati', ' GHS Naranpur', 'Ghatagaon', 'Keonjhar', '8260549412', 'Yes')
20/12/2020 08:26:44
(datetime.datetime(2020, 12, 20, 8, 26, 44), '8', '15', 'Bulu senapati', ' GHS Naranpur', 'Ghatagaon', 'Keonjhar', '8260549412', 'Yes')
20/12/2020 08:26:52
(datetime.datetime(2020, 12, 20, 8, 26, 52), '1', '15', 'Abhilipsa sahoo', 'Jvn Mahulpal', 'Bhuban', 'Dhenkanal', '7008906740', 'Yes')
20/12/2020 08:26:57
(datetime.datetime(2020, 12, 20, 8, 26, 57), '1', '15', 'Nihar ranjan jena', 'Mulishing ucha vidyapitha', 'Soro', 'Balasore', '8455805529', 'Yes')
20/12/2020 08:27:10
(datetime.datetime(2020, 12, 20, 8, 27, 10), '1', '15', 'Tanmaya Kumar Sahoo', 'Jharabereni GP High school', 'Athmallik', 'Angul', '6371461176', 'No')
20/12/2020 08:27:15
(datetime.datetime(2020, 12, 20, 8, 27, 15), '9', '15', 'Bishnupriya mohapatra', 'Ssvm', 'Cuttack', 'Khordha', '7327026328', 'No')
20/12/2020 08:27:22
(datetime.datetime(2020, 12, 20, 8, 27, 22), '4', '15', 'Romiya', 'Mallick', 'Kotagad', 'Kandhamal', '9861126419', 'Yes')
20/12/2020 08:27:26
(datetime.datetime(2020, 12, 20, 8, 27, 26), '1', '15', 'Arun Kumar Barik', 'Sarwswati Sishu Vidya Mandir, Balichandrapur', 'Mahanga', 'Jajpur', '8260571134', 'Yes')
20/12/2020 08:27:35
(datetime.datetime(2020, 12, 20, 8, 27, 35), '0', '15', 'Uuuuuuu', 'Uuuuu', 'Athmallik', 'Balasore', '134689', '')
20/12/2020 08:27:48
(datetime.datetime(2020, 12, 20, 8, 27, 48), '5', '15', 'Deeptimayee kanhar', 'Dadhi babana high school', 'Bhubaneswar', 'Khordha', '8249968490', '')
20/12/2020 08:28:07
(datetime.datetime(2020, 12, 20, 8, 28, 7), '1', '15', 'srabana sahoo', 'govt ssd high school sodamal ', 'Kolatira', 'Jharsuguda', '8144536591', 'Yes')
20/12/2020 08:28:09
(datetime.datetime(2020, 12, 20, 8, 28, 9), '7', '15', 'Kajal samal', 'Ssvm ', 'Hindol', 'Dhenkanal', '7855095994', 'No')
20/12/2020 08:28:15
(datetime.datetime(2020, 12, 20, 8, 28, 15), '7', '15', 'Bishnupriya mohapatra', 'Ssvm', 'Cuttack', 'Khordha', '7327026328', 'No')
20/12/2020 08:28:34
(datetime.datetime(2020, 12, 20, 8, 28, 34), '8', '15', 'Jagyneswar pradhan', 'Govt high school matakambeda', 'Joda', 'Keonjhar', '9337018115', 'Yes')
20/12/2020 08:29:01
(datetime.datetime(2020, 12, 20, 8, 29, 1), '1', '15', 'Subhendu Biswal ', 'ANCHALIKA GOVERNMENT HIGH School, ITIPUR ', 'Bhubaneswar', 'Khordha', '7849013887', 'No')
20/12/2020 08:29:35
(datetime.datetime(2020, 12, 20, 8, 29, 35), '1', '15', 'Stuti Rath', 'SSVM Khordha', 'Khurda', 'Khordha', '7847877464', '')
20/12/2020 08:29:39
(datetime.datetime(2020, 12, 20, 8, 29, 39), '5', '15', 'Surya kanta das', 'Tara pur high school', '', 'Balasore', '9074503974', '')
20/12/2020 08:29:44
(datetime.datetime(2020, 12, 20, 8, 29, 44), '5', '15', 'ALokmaya Behera', 'SACIE gopinathpur cattack', 'Bhograi', 'Cuttack', '9861232132', 'Yes')
20/12/2020 08:29:50
(datetime.datetime(2020, 12, 20, 8, 29, 50), '1', '15', 'Ankit Kumar Sahoo ', 'Ravenshaw Collegiate School ', 'Cuttack', 'Cuttack', '9853044040', 'Yes')
20/12/2020 08:30:02
(datetime.datetime(2020, 12, 20, 8, 30, 2), '1', '15', 'abinash meher', 'purusottam high school,ruchida', 'Ambabhona', 'Bargarh', '9556795141', '')
20/12/2020 08:30:08
(datetime.datetime(2020, 12, 20, 8, 30, 8), '4', '15', 'Lipi Mohanta', 'Govt.high school,Sialijoda', '', 'Keonjhar', '8260994363', 'Yes')
20/12/2020 08:30:15
(datetime.datetime(2020, 12, 20, 8, 30, 15), '0', '15', 'N', 'J', 'Chhendipada', 'Balasore', '2468', '')
20/12/2020 08:30:19
(datetime.datetime(2020, 12, 20, 8, 30, 19), '1', '15', 'Sumit Kumar Nayak', 'Saraswati Shishu Vidya Mandir College Square Cuttack Orissa', 'Cuttack', 'Cuttack', '8144983747', 'Yes')
20/12/2020 08:31:10
(datetime.datetime(2020, 12, 20, 8, 31, 10), '1', '15', 'Suryakanta Maity ', 'Dosinga govt high school ', 'Bhadrak', 'Bhadrak', '9178741459', 'Yes')
20/12/2020 08:32:01
(datetime.datetime(2020, 12, 20, 8, 32, 1), '1', '15', 'Kishori samal', 'Ssvm lingaraj vihar', 'Bhubaneswar', 'Khordha', '7855095994', 'Yes')
20/12/2020 08:32:04
(datetime.datetime(2020, 12, 20, 8, 32, 4), '5', '15', 'Seema  kisan', 'Govet  S. S. D  high  school  kansar', 'Barkote', 'Deogarh', '7873556899', 'Yes')
20/12/2020 08:32:08
(datetime.datetime(2020, 12, 20, 8, 32, 8), '6', '15', 'Thakur Prasad Murmu', 'Bapujee High school', 'Barasahi', 'Mayurbhanj', '8144937823', 'Yes')
20/12/2020 08:32:13
(datetime.datetime(2020, 12, 20, 8, 32, 13), '3', '15', 'Vdhhr', 'Ggd', 'Athmallik', 'Nabarangpur', '1527272678', 'Yes')
20/12/2020 08:32:15
(datetime.datetime(2020, 12, 20, 8, 32, 15), '1', '15', 'abinash meher', 'purusottam high school,ruchida', 'Ambabhona', 'Bargarh', '9556795141', '')
20/12/2020 08:32:20
(datetime.datetime(2020, 12, 20, 8, 32, 20), '4', '15', 'Priyanka priyadarshani jena ', 'Nihal prasad high school ', '', 'Dhenkanal', '78', 'No')
20/12/2020 08:32:38
(datetime.datetime(2020, 12, 20, 8, 32, 38), '1', '15', 'Rashmirekha nayak', 'Aurobindo institute of integral education', '', 'Khordha', '9348712994', 'Yes')
20/12/2020 08:32:43
(datetime.datetime(2020, 12, 20, 8, 32, 43), '1', '15', 'Sahil Tripathy', 'Saraswati Sishu Vidya Mandir Bhimatangi Bhubaneswar', 'Bhubaneswar', 'Khordha', '9938103340', 'Yes')
20/12/2020 08:33:51
(datetime.datetime(2020, 12, 20, 8, 33, 51), '3', '15', 'Rojalin Boul', 'JVN high school', 'Bhuban', 'Dhenkanal', '7377787166', '')
20/12/2020 08:33:55
(datetime.datetime(2020, 12, 20, 8, 33, 55), '2', '15', 'Prasanjit mahapatra', 'Saraswati shishu vidya mandir ', '', 'Bargarh', '9556222065', 'Yes')
20/12/2020 08:34:01
(datetime.datetime(2020, 12, 20, 8, 34, 1), '4', '15', 'Miki', 'B. B. HIGH SCHOOL Dhenkanal', 'Dhenkanal', 'Dhenkanal', '8867543897', 'Yes')
20/12/2020 08:34:20
(datetime.datetime(2020, 12, 20, 8, 34, 20), '1', '15', 'Deeptimayee kanhar', 'Dadhi babana high school', 'Bhubaneswar', 'Khordha', '8249968490', '')
20/12/2020 08:34:23
(datetime.datetime(2020, 12, 20, 8, 34, 23), '1', '15', 'Suchismita Dash', 'SSVM Kalinga Nagar Ghatikia', 'Khurda', 'Khordha', '9348505370', '')
20/12/2020 08:34:39
(datetime.datetime(2020, 12, 20, 8, 34, 39), '9', '15', 'Digdarshan Mohapatra', 'BM nodal High school kantapada Cuttack', 'Nilagiri', 'Deogarh', '7749099475', 'Yes')
20/12/2020 08:34:54
(datetime.datetime(2020, 12, 20, 8, 34, 54), '8', '15', 'Priyambada Sethi', 'Begna High School', '', 'Keonjhar', '7721978584', 'No')
20/12/2020 08:35:02
(datetime.datetime(2020, 12, 20, 8, 35, 2), '5', '15', 'Simran Guria ', "St. Mary's oriya school", 'Joda', 'Keonjhar', '9337100977', 'No')
20/12/2020 08:35:46
(datetime.datetime(2020, 12, 20, 8, 35, 46), '7', '15', 'Rajeshkumbhar', 'Jagannth govt high school lakhamara', 'Paikmal', 'Bargarh', '9078399734', 'Yes')
20/12/2020 08:35:47
(datetime.datetime(2020, 12, 20, 8, 35, 47), '1', '15', 'Shubhasmita sena', 'Patita paban govt high school ', 'Banapur', 'Khordha', '8456062862', 'Yes')
20/12/2020 08:36:12
(datetime.datetime(2020, 12, 20, 8, 36, 12), '1', '15', 'Bishnupriya Sethi', "S.t Mary's Odiya School", '', 'Keonjhar', '7205536302', 'No')
20/12/2020 08:36:55
(datetime.datetime(2020, 12, 20, 8, 36, 55), '6', '15', 'Sai Satyaprangya', 'Dhalpur Government High school', 'Odapada', 'Dhenkanal', '7205645687', 'No')
20/12/2020 08:36:57
(datetime.datetime(2020, 12, 20, 8, 36, 57), '5', '15', 'Paduram Bhatra', 'Govt SSD high school Bhamini', 'Umarkote', 'Nabarangpur', '9078236919', 'Yes')
20/12/2020 08:37:01
(datetime.datetime(2020, 12, 20, 8, 37, 1), '6', '15', 'Bholaram prusty', 'Govt high school mendhimal', 'Boudh', 'Boudh', '9937855508', 'Yes')
20/12/2020 08:37:02
(datetime.datetime(2020, 12, 20, 8, 37, 2), '6', '15', 'Jyoti Pidikaka', 'GGHS Muniguda', 'Muniguda', 'Rayagada', '8590717568', 'Yes')
20/12/2020 08:37:16
(datetime.datetime(2020, 12, 20, 8, 37, 16), '1', '15', 'Abhiram Parida', 'SSVM Ramnagar', 'Mahakalpada', 'Kendrapara', '9658179687', 'Yes')
20/12/2020 08:37:19
(datetime.datetime(2020, 12, 20, 8, 37, 19), '3', '15', 'Khh', 'Hff', 'Balasore', 'Nabarangpur', '964357744', 'No')
20/12/2020 08:37:25
(datetime.datetime(2020, 12, 20, 8, 37, 25), '6', '15', 'Rupasingh mahji', 'Govt (SSD)High school gunpur', 'T. Rampur', 'Kalahandi', '8280660493', 'Yes')
20/12/2020 08:37:27
(datetime.datetime(2020, 12, 20, 8, 37, 27), '5', '15', 'Barsa rana', 'Govt SSD high school charbhata', '', 'Subarnapur', '6370941848', 'Yes')
20/12/2020 08:37:27
(datetime.datetime(2020, 12, 20, 8, 37, 27), '1', '15', 'ALokmaya Behera', 'SACIE gopinathpur', 'Kaniha', 'Bhadrak', '9861232132', 'Yes')
1050 (42S01): Table 'exam' already exists
25
[datetime.datetime(2020, 12, 20, 6, 47, 21), '0', '15', 'Bulu senapati', 'GHS Naranpur', 'Ghatagaon', 'Keonjhar', '8260549412', 'Yes']
25
[datetime.datetime(2020, 12, 20, 7, 11, 53), '9', '15', 'Jena Naik', 'Govt High school Takera', 'Daspalla', 'Nayagarh', '7008133082', 'Yes']
25
[datetime.datetime(2020, 12, 20, 7, 26, 57), '3', '15', 'Medkram mandangi', 'Govt High school puttasing', 'Gunupur', 'Rayagada', '8688561053', 'Yes']
25
[datetime.datetime(2020, 12, 20, 7, 50, 7), '5', '15', 'Snehasis Satapathy', 'Ravenshaw collegiate school', 'Gaisilet', 'Cuttack', '9348556416', 'No']
25
[datetime.datetime(2020, 12, 20, 7, 59, 20), '2', '15', 'Jagannathnayak', 'Govts.s.d.highschoolkaliaguda', 'Mathili', 'Malkangiri', '8280298661', '']
25
[datetime.datetime(2020, 12, 20, 8, 3, 7), '4', '15', 'Priyanka', 'Govt SSD high school sambalpuri', 'Banarpal', 'Ganjam', '542369', 'Yes']
25
[datetime.datetime(2020, 12, 20, 8, 4, 2), '7', '15', 'Nihar ranjan jena', 'Mulishing ucha vidyapitha', 'Soro', 'Balasore', '8455805529', 'Yes']
25
[datetime.datetime(2020, 12, 20, 8, 5, 1), '0', '15', 'Bulu senapati', 'GHS Naranpur', 'Ghatagaon', 'Keonjhar', '8260549412', 'Yes']
25
[datetime.datetime(2020, 12, 20, 8, 11, 16), '1', '15', 'A srabani sahoo', 'Govt SSD high school sodamal', '', 'Jharsuguda', '9938269541', 'Yes']
25
[datetime.datetime(2020, 12, 20, 8, 11, 53), '7', '15', 'Ankit Ghosh', 'Saraswati shishu vidya mandir PATARA', 'Remuna', 'Balasore', '9861558139', 'Yes']
25
[datetime.datetime(2020, 12, 20, 8, 12, 48), '6', '15', 'Aaaaa', 'Aaaaaaa', 'Narla', 'Kalahandi', '1234567890', 'No']
25
[datetime.datetime(2020, 12, 20, 8, 13, 58), '3', '15', 'Rajeshkumbhar', 'Jagannth govt high schoollakhamara', 'Paikmal', 'Bargarh', '9078399734', 'Yes']
25
[datetime.datetime(2020, 12, 20, 8, 14, 11), '7', '15', 'Manaswini Routray ', 'S S V M', 'Mahakalpada', 'Kendrapara', '9348138148', 'Yes']
25
[datetime.datetime(2020, 12, 20, 8, 14, 36), '1', '15', 'Chandan behera', 'Govt ssd high school', 'Rasgovindpur', 'Mayurbhanj', '6757', 'Yes']
25
[datetime.datetime(2020, 12, 20, 8, 14, 37), '4', '15', 'Soumya Ranjan Bonichol', 'Nabajyoti high school', 'Pallahara', 'Angul', '8260565917', 'Yes']
25
[datetime.datetime(2020, 12, 20, 8, 14, 40), '6', '15', 'Jayasen jani', 'Govt(SSD)high school Dasamantpur', 'Dasmantapur', 'Koraput', '8260902644', 'Yes']
25
[datetime.datetime(2020, 12, 20, 8, 14, 50), '1', '15', 'Chandan behera', 'Govt ssd high school', 'Rasgovindpur', 'Mayurbhanj', '6757', 'Yes']
25
[datetime.datetime(2020, 12, 20, 8, 15, 27), '8', '15', 'Ayush man pati', 'SSVM, Ghatikia', '', 'Khordha', '8114871921', 'Yes']
25
[datetime.datetime(2020, 12, 20, 8, 17, 5), '1', '15', 'Dheeraj Kumar Sahu', 'S.A.I.E.C.BANDHAPADA', 'Kesinga', 'Kalahandi', '9937218929', 'No']
25
[datetime.datetime(2020, 12, 20, 8, 17, 9), '6', '15', 'X', 'Y', 'Talcher', 'Bhadrak', '5236418018', 'Yes']
25
[datetime.datetime(2020, 12, 20, 8, 17, 27), '1', '15', 'Chandan behera', 'Govt ssd high school', 'Rasgovindpur', 'Mayurbhanj', '6757', 'Yes']
25
[datetime.datetime(2020, 12, 20, 8, 17, 48), '5', '15', 'Alok', 'SAIIE', 'Angul', 'Angul', '7879906543', 'Yes']
25
[datetime.datetime(2020, 12, 20, 8, 17, 49), '5', '15', 'Satya sundar barik ', 'J.V.N Mahulpal (B)', 'Bhuban', 'Dhenkanal', '9348679935', '']
25
[datetime.datetime(2020, 12, 20, 8, 19, 4), '6', '15', 'Abhilipsa sahoo', 'J.v.n Mahulpal', 'Bhuban', 'Dhenkanal', '7008906740', 'Yes']
25
[datetime.datetime(2020, 12, 20, 8, 19, 12), '6', '15', 'Annapurna moharana ', 'Mukteswarpanchayatraj high school ', '', 'Jagatsinghapur', '7326824996', 'No']
25

26
[datetime.datetime(2020, 12, 20, 8, 22, 44), '2', '15', 'Romiya', 'Mallick', 'Kotagad', 'Kandhamal', '9861126419', 'Yes']
27
[datetime.datetime(2020, 12, 20, 8, 23, 46), '8', '15', 'Tanmaya Kumar Sahoo', 'Jharabereni GP High school', 'Athmallik', 'Angul', '6371461176', 'No']
28
[datetime.datetime(2020, 12, 20, 8, 23, 55), '7', '15', 'Seema  kisan', 'Govet  s. S. D  high  school  kansar', 'Barkote', 'Deogarh', '7873556899', 'Yes']
29
[datetime.datetime(2020, 12, 20, 8, 23, 59), '1', '15', 'Swarnaprava priyadarshini', 'S.A.I.E.C.matrubihar kalupadaghat', 'Chilka', 'Khordha', '7978583070', 'Yes']
30
[datetime.datetime(2020, 12, 20, 8, 24, 18), '6', '15', 'Pooja Padhan ', 'Sarkanda high school ', 'Sohela', 'Bargarh', '7854850543', 'Yes']
31
[datetime.datetime(2020, 12, 20, 8, 24, 25), '8', '15', 'Priyabrat Pradhan ', 'Anchalik high school kushakhalia ', 'Kaniha', 'Angul', '9937903131', '']
32
[datetime.datetime(2020, 12, 20, 8, 24, 34), '7', '15', 'Arun Kumar Barik', 'Sarwswati Sishu Vidya Mandir, Balichandrapur', 'Mahanga', 'Jajpur', '8260571134', 'Yes']
33
[datetime.datetime(2020, 12, 20, 8, 24, 51), '4', '15', 'Romiya', 'Mallick', 'Kotagad', 'Kandhamal', '9861126419', 'Yes']
34
[datetime.datetime(2020, 12, 20, 8, 24, 58), '3', '15', 'Tulasi behera', 'Jatiya vhidha niketana mahula pal', 'Deogaon', 'Dhenkanal', '7205983951', 'Yes']
35
[datetime.datetime(2020, 12, 20, 8, 25, 11), '7', '15', 'Gyanaranjan Das', 'Bahudarada govt High school', '', 'Boudh', '8260318954', 'No']
36
[datetime.datetime(2020, 12, 20, 8, 25, 19), '4', '15', 'abhinash meher', 'purusottam high school,ruchida', 'Bargarh', 'Bargarh', '9556795141', '']
37
[datetime.datetime(2020, 12, 20, 8, 25, 27), '7', '15', 'Sarita Nayak', 'Panchayat Govt.high school', 'Dhenkanal', 'Dhenkanal', '7848996180', 'No']
38
[datetime.datetime(2020, 12, 20, 8, 25, 31), '7', '15', 'Subhalaxmi behera ', 'SST girls highschool, Tato', 'Karanjia', 'Mayurbhanj', '7894366008', 'Yes']
39
[datetime.datetime(2020, 12, 20, 8, 25, 55), '5', '15', 'Sushree Sangita Sahoo', 'Panchayat Govt. High School, kantapal', 'Kamakshyanagar', 'Dhenkanal', '7847816105', 'No']
40
[datetime.datetime(2020, 12, 20, 8, 26, 1), '0', '15', 'Barsha priyadarashini samal', 'Anchalika ucha vidyapitha Lahada', 'Gandia', 'Dhenkanal', '7735603187', 'Yes']
41
[datetime.datetime(2020, 12, 20, 8, 26, 3), '9', '15', 'Arun Kumar Barik', 'Sarwswati Sishu Vidya Mandir, Balichandrapur', 'Mahanga', 'Jajpur', '8260571134', 'Yes']
42
[datetime.datetime(2020, 12, 20, 8, 26, 9), '3', '15', 'Romiya', 'Mallick', 'Kotagad', 'Kandhamal', '9861126419', 'Yes']
43
[datetime.datetime(2020, 12, 20, 8, 26, 39), '8', '15', 'Bulu senapati', ' GHS Naranpur', 'Ghatagaon', 'Keonjhar', '8260549412', 'Yes']
44
[datetime.datetime(2020, 12, 20, 8, 26, 44), '8', '15', 'Bulu senapati', ' GHS Naranpur', 'Ghatagaon', 'Keonjhar', '8260549412', 'Yes']
45
[datetime.datetime(2020, 12, 20, 8, 26, 52), '1', '15', 'Abhilipsa sahoo', 'Jvn Mahulpal', 'Bhuban', 'Dhenkanal', '7008906740', 'Yes']
46
[datetime.datetime(2020, 12, 20, 8, 26, 57), '1', '15', 'Nihar ranjan jena', 'Mulishing ucha vidyapitha', 'Soro', 'Balasore', '8455805529', 'Yes']
47
[datetime.datetime(2020, 12, 20, 8, 27, 10), '1', '15', 'Tanmaya Kumar Sahoo', 'Jharabereni GP High school', 'Athmallik', 'Angul', '6371461176', 'No']
48
[datetime.datetime(2020, 12, 20, 8, 27, 15), '9', '15', 'Bishnupriya mohapatra', 'Ssvm', 'Cuttack', 'Khordha', '7327026328', 'No']
49
[datetime.datetime(2020, 12, 20, 8, 27, 22), '4', '15', 'Romiya', 'Mallick', 'Kotagad', 'Kandhamal', '9861126419', 'Yes']
50
[datetime.datetime(2020, 12, 20, 8, 27, 26), '1', '15', 'Arun Kumar Barik', 'Sarwswati Sishu Vidya Mandir, Balichandrapur', 'Mahanga', 'Jajpur', '8260571134', 'Yes']
51
[datetime.datetime(2020, 12, 20, 8, 27, 35), '0', '15', 'Uuuuuuu', 'Uuuuu', 'Athmallik', 'Balasore', '134689', '']
52
[datetime.datetime(2020, 12, 20, 8, 27, 48), '5', '15', 'Deeptimayee kanhar', 'Dadhi babana high school', 'Bhubaneswar', 'Khordha', '8249968490', '']
53
[datetime.datetime(2020, 12, 20, 8, 28, 7), '1', '15', 'srabana sahoo', 'govt ssd high school sodamal ', 'Kolatira', 'Jharsuguda', '8144536591', 'Yes']
54
[datetime.datetime(2020, 12, 20, 8, 28, 9), '7', '15', 'Kajal samal', 'Ssvm ', 'Hindol', 'Dhenkanal', '7855095994', 'No']
55
[datetime.datetime(2020, 12, 20, 8, 28, 15), '7', '15', 'Bishnupriya mohapatra', 'Ssvm', 'Cuttack', 'Khordha', '7327026328', 'No']
56
[datetime.datetime(2020, 12, 20, 8, 28, 34), '8', '15', 'Jagyneswar pradhan', 'Govt high school matakambeda', 'Joda', 'Keonjhar', '9337018115', 'Yes']
57
[datetime.datetime(2020, 12, 20, 8, 29, 1), '1', '15', 'Subhendu Biswal ', 'ANCHALIKA GOVERNMENT HIGH School, ITIPUR ', 'Bhubaneswar', 'Khordha', '7849013887', 'No']
58
[datetime.datetime(2020, 12, 20, 8, 29, 35), '1', '15', 'Stuti Rath', 'SSVM Khordha', 'Khurda', 'Khordha', '7847877464', '']
59
[datetime.datetime(2020, 12, 20, 8, 29, 39), '5', '15', 'Surya kanta das', 'Tara pur high school', '', 'Balasore', '9074503974', '']
60
[datetime.datetime(2020, 12, 20, 8, 29, 44), '5', '15', 'ALokmaya Behera', 'SACIE gopinathpur cattack', 'Bhograi', 'Cuttack', '9861232132', 'Yes']
61
[datetime.datetime(2020, 12, 20, 8, 29, 50), '1', '15', 'Ankit Kumar Sahoo ', 'Ravenshaw Collegiate School ', 'Cuttack', 'Cuttack', '9853044040', 'Yes']
62
[datetime.datetime(2020, 12, 20, 8, 30, 2), '1', '15', 'abinash meher', 'purusottam high school,ruchida', 'Ambabhona', 'Bargarh', '9556795141', '']
63
[datetime.datetime(2020, 12, 20, 8, 30, 8), '4', '15', 'Lipi Mohanta', 'Govt.high school,Sialijoda', '', 'Keonjhar', '8260994363', 'Yes']
64
[datetime.datetime(2020, 12, 20, 8, 30, 15), '0', '15', 'N', 'J', 'Chhendipada', 'Balasore', '2468', '']
65
[datetime.datetime(2020, 12, 20, 8, 30, 19), '1', '15', 'Sumit Kumar Nayak', 'Saraswati Shishu Vidya Mandir College Square Cuttack Orissa', 'Cuttack', 'Cuttack', '8144983747', 'Yes']
66
[datetime.datetime(2020, 12, 20, 8, 31, 10), '1', '15', 'Suryakanta Maity ', 'Dosinga govt high school ', 'Bhadrak', 'Bhadrak', '9178741459', 'Yes']
67
[datetime.datetime(2020, 12, 20, 8, 32, 1), '1', '15', 'Kishori samal', 'Ssvm lingaraj vihar', 'Bhubaneswar', 'Khordha', '7855095994', 'Yes']
68
[datetime.datetime(2020, 12, 20, 8, 32, 4), '5', '15', 'Seema  kisan', 'Govet  S. S. D  high  school  kansar', 'Barkote', 'Deogarh', '7873556899', 'Yes']
69
[datetime.datetime(2020, 12, 20, 8, 32, 8), '6', '15', 'Thakur Prasad Murmu', 'Bapujee High school', 'Barasahi', 'Mayurbhanj', '8144937823', 'Yes']
70
[datetime.datetime(2020, 12, 20, 8, 32, 13), '3', '15', 'Vdhhr', 'Ggd', 'Athmallik', 'Nabarangpur', '1527272678', 'Yes']
71
[datetime.datetime(2020, 12, 20, 8, 32, 15), '1', '15', 'abinash meher', 'purusottam high school,ruchida', 'Ambabhona', 'Bargarh', '9556795141', '']
72
[datetime.datetime(2020, 12, 20, 8, 32, 20), '4', '15', 'Priyanka priyadarshani jena ', 'Nihal prasad high school ', '', 'Dhenkanal', '78', 'No']
73
[datetime.datetime(2020, 12, 20, 8, 32, 38), '1', '15', 'Rashmirekha nayak', 'Aurobindo institute of integral education', '', 'Khordha', '9348712994', 'Yes']
74
[datetime.datetime(2020, 12, 20, 8, 32, 43), '1', '15', 'Sahil Tripathy', 'Saraswati Sishu Vidya Mandir Bhimatangi Bhubaneswar', 'Bhubaneswar', 'Khordha', '9938103340', 'Yes']
75
[datetime.datetime(2020, 12, 20, 8, 33, 51), '3', '15', 'Rojalin Boul', 'JVN high school', 'Bhuban', 'Dhenkanal', '7377787166', '']
76
[datetime.datetime(2020, 12, 20, 8, 33, 55), '2', '15', 'Prasanjit mahapatra', 'Saraswati shishu vidya mandir ', '', 'Bargarh', '9556222065', 'Yes']
77
[datetime.datetime(2020, 12, 20, 8, 34, 1), '4', '15', 'Miki', 'B. B. HIGH SCHOOL Dhenkanal', 'Dhenkanal', 'Dhenkanal', '8867543897', 'Yes']
78
[datetime.datetime(2020, 12, 20, 8, 34, 20), '1', '15', 'Deeptimayee kanhar', 'Dadhi babana high school', 'Bhubaneswar', 'Khordha', '8249968490', '']
79
[datetime.datetime(2020, 12, 20, 8, 34, 23), '1', '15', 'Suchismita Dash', 'SSVM Kalinga Nagar Ghatikia', 'Khurda', 'Khordha', '9348505370', '']
80
[datetime.datetime(2020, 12, 20, 8, 34, 39), '9', '15', 'Digdarshan Mohapatra', 'BM nodal High school kantapada Cuttack', 'Nilagiri', 'Deogarh', '7749099475', 'Yes']
81
[datetime.datetime(2020, 12, 20, 8, 34, 54), '8', '15', 'Priyambada Sethi', 'Begna High School', '', 'Keonjhar', '7721978584', 'No']

82
[datetime.datetime(2020, 12, 20, 8, 35, 2), '5', '15', 'Simran Guria ', "St. Mary's oriya school", 'Joda', 'Keonjhar', '9337100977', 'No']
83
[datetime.datetime(2020, 12, 20, 8, 35, 46), '7', '15', 'Rajeshkumbhar', 'Jagannth govt high school lakhamara', 'Paikmal', 'Bargarh', '9078399734', 'Yes']
84
[datetime.datetime(2020, 12, 20, 8, 35, 47), '1', '15', 'Shubhasmita sena', 'Patita paban govt high school ', 'Banapur', 'Khordha', '8456062862', 'Yes']
85
[datetime.datetime(2020, 12, 20, 8, 36, 12), '1', '15', 'Bishnupriya Sethi', "S.t Mary's Odiya School", '', 'Keonjhar', '7205536302', 'No']
86
[datetime.datetime(2020, 12, 20, 8, 36, 55), '6', '15', 'Sai Satyaprangya', 'Dhalpur Government High school', 'Odapada', 'Dhenkanal', '7205645687', 'No']
87
[datetime.datetime(2020, 12, 20, 8, 36, 57), '5', '15', 'Paduram Bhatra', 'Govt SSD high school Bhamini', 'Umarkote', 'Nabarangpur', '9078236919', 'Yes']
88
[datetime.datetime(2020, 12, 20, 8, 37, 1), '6', '15', 'Bholaram prusty', 'Govt high school mendhimal', 'Boudh', 'Boudh', '9937855508', 'Yes']
89
[datetime.datetime(2020, 12, 20, 8, 37, 2), '6', '15', 'Jyoti Pidikaka', 'GGHS Muniguda', 'Muniguda', 'Rayagada', '8590717568', 'Yes']
90
[datetime.datetime(2020, 12, 20, 8, 37, 16), '1', '15', 'Abhiram Parida', 'SSVM Ramnagar', 'Mahakalpada', 'Kendrapara', '9658179687', 'Yes']
91
[datetime.datetime(2020, 12, 20, 8, 37, 19), '3', '15', 'Khh', 'Hff', 'Balasore', 'Nabarangpur', '964357744', 'No']
92
[datetime.datetime(2020, 12, 20, 8, 37, 25), '6', '15', 'Rupasingh mahji', 'Govt (SSD)High school gunpur', 'T. Rampur', 'Kalahandi', '8280660493', 'Yes']
93
[datetime.datetime(2020, 12, 20, 8, 37, 27), '5', '15', 'Barsa rana', 'Govt SSD high school charbhata', '', 'Subarnapur', '6370941848', 'Yes']
94
[datetime.datetime(2020, 12, 20, 8, 37, 27), '1', '15', 'ALokmaya Behera', 'SACIE gopinathpur', 'Kaniha', 'Bhadrak', '9861232132', 'Yes']
(datetime.datetime(2020, 12, 20, 7, 59, 20), '2', '15', 'Jagannathnayak', 'Govts.s.d.highschoolkaliaguda', 'Mathili', 'Malkangiri', '8280298661', '')
(datetime.datetime(2020, 12, 20, 8, 3, 7), '4', '15', 'Priyanka', 'Govt SSD high school sambalpuri', 'Banarpal', 'Ganjam', '542369', 'Yes')
(datetime.datetime(2020, 12, 20, 8, 4, 2), '7', '15', 'Nihar ranjan jena', 'Mulishing ucha vidyapitha', 'Soro', 'Balasore', '8455805529', 'Yes')
(datetime.datetime(2020, 12, 20, 8, 5, 1), '0', '15', 'Bulu senapati', 'GHS Naranpur', 'Ghatagaon', 'Keonjhar', '8260549412', 'Yes')
(datetime.datetime(2020, 12, 20, 8, 11, 16), '1', '15', 'A srabani sahoo', 'Govt SSD high school sodamal', '', 'Jharsuguda', '9938269541', 'Yes')
(datetime.datetime(2020, 12, 20, 8, 11, 53), '7', '15', 'Ankit Ghosh', 'Saraswati shishu vidya mandir PATARA', 'Remuna', 'Balasore', '9861558139', 'Yes')
(datetime.datetime(2020, 12, 20, 8, 12, 48), '6', '15', 'Aaaaa', 'Aaaaaaa', 'Narla', 'Kalahandi', '1234567890', 'No')
(datetime.datetime(2020, 12, 20, 8, 13, 58), '3', '15', 'Rajeshkumbhar', 'Jagannth govt high schoollakhamara', 'Paikmal', 'Bargarh', '9078399734', 'Yes')
(datetime.datetime(2020, 12, 20, 8, 14, 11), '7', '15', 'Manaswini Routray ', 'S S V M', 'Mahakalpada', 'Kendrapara', '9348138148', 'Yes')
(datetime.datetime(2020, 12, 20, 8, 14, 36), '1', '15', 'Chandan behera', 'Govt ssd high school', 'Rasgovindpur', 'Mayurbhanj', '6757', 'Yes')
(datetime.datetime(2020, 12, 20, 8, 14, 37), '4', '15', 'Soumya Ranjan Bonichol', 'Nabajyoti high school', 'Pallahara', 'Angul', '8260565917', 'Yes')
(datetime.datetime(2020, 12, 20, 8, 14, 40), '6', '15', 'Jayasen jani', 'Govt(SSD)high school Dasamantpur', 'Dasmantapur', 'Koraput', '8260902644', 'Yes')
(datetime.datetime(2020, 12, 20, 8, 14, 50), '1', '15', 'Chandan behera', 'Govt ssd high school', 'Rasgovindpur', 'Mayurbhanj', '6757', 'Yes')
(datetime.datetime(2020, 12, 20, 8, 15, 27), '8', '15', 'Ayush man pati', 'SSVM, Ghatikia', '', 'Khordha', '8114871921', 'Yes')
(datetime.datetime(2020, 12, 20, 8, 17, 5), '1', '15', 'Dheeraj Kumar Sahu', 'S.A.I.E.C.BANDHAPADA', 'Kesinga', 'Kalahandi', '9937218929', 'No')
(datetime.datetime(2020, 12, 20, 8, 17, 9), '6', '15', 'X', 'Y', 'Talcher', 'Bhadrak', '5236418018', 'Yes')
(datetime.datetime(2020, 12, 20, 8, 17, 27), '1', '15', 'Chandan behera', 'Govt ssd high school', 'Rasgovindpur', 'Mayurbhanj', '6757', 'Yes')
(datetime.datetime(2020, 12, 20, 8, 17, 48), '5', '15', 'Alok', 'SAIIE', 'Angul', 'Angul', '7879906543', 'Yes')
(datetime.datetime(2020, 12, 20, 8, 17, 49), '5', '15', 'Satya sundar barik ', 'J.V.N Mahulpal (B)', 'Bhuban', 'Dhenkanal', '9348679935', '')
(datetime.datetime(2020, 12, 20, 8, 19, 4), '6', '15', 'Abhilipsa sahoo', 'J.v.n Mahulpal', 'Bhuban', 'Dhenkanal', '7008906740', 'Yes')
(datetime.datetime(2020, 12, 20, 8, 19, 12), '6', '15', 'Annapurna moharana ', 'Mukteswarpanchayatraj high school ', '', 'Jagatsinghapur', '7326824996', 'No')
(datetime.datetime(2020, 12, 20, 8, 20, 9), '4', '15', 'Chandra Kanti Dehuri', 'GOVT ( SSD) High school Banabhui', 'Nilagiri', 'Balasore', '8260681605', 'Yes')
(datetime.datetime(2020, 12, 20, 8, 21, 1), '1', '15', 'Debarshi', 'Sri Aurobindo Institute of Integral Education, Kainipura', 'Jhumpura', 'Keonjhar', '6371479522', 'Yes')
(datetime.datetime(2020, 12, 20, 8, 21, 3), '1', '15', 'Manoranjan behera', 'Govt (s.s.d) high school, Nalagaja', 'Rasgovindpur', 'Mayurbhanj', '6371466342', 'Yes')
(datetime.datetime(2020, 12, 20, 8, 21, 8), '1', '15', 'Swarnaprava priyadarshini', 'S.A.I.E.C.matrubihar kalupadaghat', 'Chilka', 'Khordha', '7978583070', 'Yes')
(datetime.datetime(2020, 12, 20, 8, 22, 1), '6', '15', 'Kanha', 'Apups', 'Chhendipada', 'Angul', '1995372419', 'Yes')
(datetime.datetime(2020, 12, 20, 8, 22, 44), '2', '15', 'Romiya', 'Mallick', 'Kotagad', 'Kandhamal', '9861126419', 'Yes')
(datetime.datetime(2020, 12, 20, 8, 23, 46), '8', '15', 'Tanmaya Kumar Sahoo', 'Jharabereni GP High school', 'Athmallik', 'Angul', '6371461176', 'No')
(datetime.datetime(2020, 12, 20, 8, 23, 55), '7', '15', 'Seema  kisan', 'Govet  s. S. D  high  school  kansar', 'Barkote', 'Deogarh', '7873556899', 'Yes')
(datetime.datetime(2020, 12, 20, 8, 23, 59), '1', '15', 'Swarnaprava priyadarshini', 'S.A.I.E.C.matrubihar kalupadaghat', 'Chilka', 'Khordha', '7978583070', 'Yes')
(datetime.datetime(2020, 12, 20, 8, 24, 18), '6', '15', 'Pooja Padhan ', 'Sarkanda high school ', 'Sohela', 'Bargarh', '7854850543', 'Yes')
(datetime.datetime(2020, 12, 20, 8, 24, 25), '8', '15', 'Priyabrat Pradhan ', 'Anchalik high school kushakhalia ', 'Kaniha', 'Angul', '9937903131', '')
(datetime.datetime(2020, 12, 20, 8, 24, 34), '7', '15', 'Arun Kumar Barik', 'Sarwswati Sishu Vidya Mandir, Balichandrapur', 'Mahanga', 'Jajpur', '8260571134', 'Yes')
(datetime.datetime(2020, 12, 20, 8, 24, 51), '4', '15', 'Romiya', 'Mallick', 'Kotagad', 'Kandhamal', '9861126419', 'Yes')
(datetime.datetime(2020, 12, 20, 8, 24, 58), '3', '15', 'Tulasi behera', 'Jatiya vhidha niketana mahula pal', 'Deogaon', 'Dhenkanal', '7205983951', 'Yes')
(datetime.datetime(2020, 12, 20, 8, 25, 11), '7', '15', 'Gyanaranjan Das', 'Bahudarada govt High school', '', 'Boudh', '8260318954', 'No')
(datetime.datetime(2020, 12, 20, 8, 25, 19), '4', '15', 'abhinash meher', 'purusottam high school,ruchida', 'Bargarh', 'Bargarh', '9556795141', '')
(datetime.datetime(2020, 12, 20, 8, 25, 27), '7', '15', 'Sarita Nayak', 'Panchayat Govt.high school', 'Dhenkanal', 'Dhenkanal', '7848996180', 'No')
(datetime.datetime(2020, 12, 20, 8, 25, 31), '7', '15', 'Subhalaxmi behera ', 'SST girls highschool, Tato', 'Karanjia', 'Mayurbhanj', '7894366008', 'Yes')
(datetime.datetime(2020, 12, 20, 8, 25, 55), '5', '15', 'Sushree Sangita Sahoo', 'Panchayat Govt. High School, kantapal', 'Kamakshyanagar', 'Dhenkanal', '7847816105', 'No')
(datetime.datetime(2020, 12, 20, 8, 26, 1), '0', '15', 'Barsha priyadarashini samal', 'Anchalika ucha vidyapitha Lahada', 'Gandia', 'Dhenkanal', '7735603187', 'Yes')
(datetime.datetime(2020, 12, 20, 8, 26, 3), '9', '15', 'Arun Kumar Barik', 'Sarwswati Sishu Vidya Mandir, Balichandrapur', 'Mahanga', 'Jajpur', '8260571134', 'Yes')
(datetime.datetime(2020, 12, 20, 8, 26, 9), '3', '15', 'Romiya', 'Mallick', 'Kotagad', 'Kandhamal', '9861126419', 'Yes')
(datetime.datetime(2020, 12, 20, 8, 26, 39), '8', '15', 'Bulu senapati', ' GHS Naranpur', 'Ghatagaon', 'Keonjhar', '8260549412', 'Yes')
(datetime.datetime(2020, 12, 20, 8, 26, 44), '8', '15', 'Bulu senapati', ' GHS Naranpur', 'Ghatagaon', 'Keonjhar', '8260549412', 'Yes')
(datetime.datetime(2020, 12, 20, 8, 26, 52), '1', '15', 'Abhilipsa sahoo', 'Jvn Mahulpal', 'Bhuban', 'Dhenkanal', '7008906740', 'Yes')
(datetime.datetime(2020, 12, 20, 8, 26, 57), '1', '15', 'Nihar ranjan jena', 'Mulishing ucha vidyapitha', 'Soro', 'Balasore', '8455805529', 'Yes')
(datetime.datetime(2020, 12, 20, 8, 27, 10), '1', '15', 'Tanmaya Kumar Sahoo', 'Jharabereni GP High school', 'Athmallik', 'Angul', '6371461176', 'No')
(datetime.datetime(2020, 12, 20, 8, 27, 15), '9', '15', 'Bishnupriya mohapatra', 'Ssvm', 'Cuttack', 'Khordha', '7327026328', 'No')
(datetime.datetime(2020, 12, 20, 8, 27, 22), '4', '15', 'Romiya', 'Mallick', 'Kotagad', 'Kandhamal', '9861126419', 'Yes')
(datetime.datetime(2020, 12, 20, 8, 27, 26), '1', '15', 'Arun Kumar Barik', 'Sarwswati Sishu Vidya Mandir, Balichandrapur', 'Mahanga', 'Jajpur', '8260571134', 'Yes')
(datetime.datetime(2020, 12, 20, 8, 27, 35), '0', '15', 'Uuuuuuu', 'Uuuuu', 'Athmallik', 'Balasore', '134689', '')
(datetime.datetime(2020, 12, 20, 8, 27, 48), '5', '15', 'Deeptimayee kanhar', 'Dadhi babana high school', 'Bhubaneswar', 'Khordha', '8249968490', '')
(datetime.datetime(2020, 12, 20, 8, 28, 7), '1', '15', 'srabana sahoo', 'govt ssd high school sodamal ', 'Kolatira', 'Jharsuguda', '8144536591', 'Yes')
(datetime.datetime(2020, 12, 20, 8, 28, 9), '7', '15', 'Kajal samal', 'Ssvm ', 'Hindol', 'Dhenkanal', '7855095994', 'No')
(datetime.datetime(2020, 12, 20, 8, 28, 15), '7', '15', 'Bishnupriya mohapatra', 'Ssvm', 'Cuttack', 'Khordha', '7327026328', 'No')
(datetime.datetime(2020, 12, 20, 8, 28, 34), '8', '15', 'Jagyneswar pradhan', 'Govt high school matakambeda', 'Joda', 'Keonjhar', '9337018115', 'Yes')
(datetime.datetime(2020, 12, 20, 8, 29, 1), '1', '15', 'Subhendu Biswal ', 'ANCHALIKA GOVERNMENT HIGH School, ITIPUR ', 'Bhubaneswar', 'Khordha', '7849013887', 'No')
(datetime.datetime(2020, 12, 20, 8, 29, 35), '1', '15', 'Stuti Rath', 'SSVM Khordha', 'Khurda', 'Khordha', '7847877464', '')
(datetime.datetime(2020, 12, 20, 8, 29, 39), '5', '15', 'Surya kanta das', 'Tara pur high school', '', 'Balasore', '9074503974', '')
(datetime.datetime(2020, 12, 20, 8, 29, 44), '5', '15', 'ALokmaya Behera', 'SACIE gopinathpur cattack', 'Bhograi', 'Cuttack', '9861232132', 'Yes')
(datetime.datetime(2020, 12, 20, 8, 29, 50), '1', '15', 'Ankit Kumar Sahoo ', 'Ravenshaw Collegiate School ', 'Cuttack', 'Cuttack', '9853044040', 'Yes')
(datetime.datetime(2020, 12, 20, 8, 30, 2), '1', '15', 'abinash meher', 'purusottam high school,ruchida', 'Ambabhona', 'Bargarh', '9556795141', '')
(datetime.datetime(2020, 12, 20, 8, 30, 8), '4', '15', 'Lipi Mohanta', 'Govt.high school,Sialijoda', '', 'Keonjhar', '8260994363', 'Yes')
(datetime.datetime(2020, 12, 20, 8, 30, 15), '0', '15', 'N', 'J', 'Chhendipada', 'Balasore', '2468', '')
(datetime.datetime(2020, 12, 20, 8, 30, 19), '1', '15', 'Sumit Kumar Nayak', 'Saraswati Shishu Vidya Mandir College Square Cuttack Orissa', 'Cuttack', 'Cuttack', '8144983747', 'Yes')
(datetime.datetime(2020, 12, 20, 8, 31, 10), '1', '15', 'Suryakanta Maity ', 'Dosinga govt high school ', 'Bhadrak', 'Bhadrak', '9178741459', 'Yes')
(datetime.datetime(2020, 12, 20, 8, 32, 1), '1', '15', 'Kishori samal', 'Ssvm lingaraj vihar', 'Bhubaneswar', 'Khordha', '7855095994', 'Yes')
(datetime.datetime(2020, 12, 20, 8, 32, 4), '5', '15', 'Seema  kisan', 'Govet  S. S. D  high  school  kansar', 'Barkote', 'Deogarh', '7873556899', 'Yes')
(datetime.datetime(2020, 12, 20, 8, 32, 8), '6', '15', 'Thakur Prasad Murmu', 'Bapujee High school', 'Barasahi', 'Mayurbhanj', '8144937823', 'Yes')
(datetime.datetime(2020, 12, 20, 8, 32, 13), '3', '15', 'Vdhhr', 'Ggd', 'Athmallik', 'Nabarangpur', '1527272678', 'Yes')
(datetime.datetime(2020, 12, 20, 8, 32, 15), '1', '15', 'abinash meher', 'purusottam high school,ruchida', 'Ambabhona', 'Bargarh', '9556795141', '')
(datetime.datetime(2020, 12, 20, 8, 32, 20), '4', '15', 'Priyanka priyadarshani jena ', 'Nihal prasad high school ', '', 'Dhenkanal', '78', 'No')
(datetime.datetime(2020, 12, 20, 8, 32, 38), '1', '15', 'Rashmirekha nayak', 'Aurobindo institute of integral education', '', 'Khordha', '9348712994', 'Yes')
(datetime.datetime(2020, 12, 20, 8, 32, 43), '1', '15', 'Sahil Tripathy', 'Saraswati Sishu Vidya Mandir Bhimatangi Bhubaneswar', 'Bhubaneswar', 'Khordha', '9938103340', 'Yes')
(datetime.datetime(2020, 12, 20, 8, 33, 51), '3', '15', 'Rojalin Boul', 'JVN high school', 'Bhuban', 'Dhenkanal', '7377787166', '')
(datetime.datetime(2020, 12, 20, 8, 33, 55), '2', '15', 'Prasanjit mahapatra', 'Saraswati shishu vidya mandir ', '', 'Bargarh', '9556222065', 'Yes')
(datetime.datetime(2020, 12, 20, 8, 34, 1), '4', '15', 'Miki', 'B. B. HIGH SCHOOL Dhenkanal', 'Dhenkanal', 'Dhenkanal', '8867543897', 'Yes')
(datetime.datetime(2020, 12, 20, 8, 34, 20), '1', '15', 'Deeptimayee kanhar', 'Dadhi babana high school', 'Bhubaneswar', 'Khordha', '8249968490', '')
(datetime.datetime(2020, 12, 20, 8, 34, 23), '1', '15', 'Suchismita Dash', 'SSVM Kalinga Nagar Ghatikia', 'Khurda', 'Khordha', '9348505370', '')
(datetime.datetime(2020, 12, 20, 8, 34, 39), '9', '15', 'Digdarshan Mohapatra', 'BM nodal High school kantapada Cuttack', 'Nilagiri', 'Deogarh', '7749099475', 'Yes')
(datetime.datetime(2020, 12, 20, 8, 34, 54), '8', '15', 'Priyambada Sethi', 'Begna High School', '', 'Keonjhar', '7721978584', 'No')
(datetime.datetime(2020, 12, 20, 8, 35, 2), '5', '15', 'Simran Guria ', "St. Mary's oriya school", 'Joda', 'Keonjhar', '9337100977', 'No')
(datetime.datetime(2020, 12, 20, 8, 35, 46), '7', '15', 'Rajeshkumbhar', 'Jagannth govt high school lakhamara', 'Paikmal', 'Bargarh', '9078399734', 'Yes')
(datetime.datetime(2020, 12, 20, 8, 35, 47), '1', '15', 'Shubhasmita sena', 'Patita paban govt high school ', 'Banapur', 'Khordha', '8456062862', 'Yes')
(datetime.datetime(2020, 12, 20, 8, 36, 12), '1', '15', 'Bishnupriya Sethi', "S.t Mary's Odiya School", '', 'Keonjhar', '7205536302', 'No')
(datetime.datetime(2020, 12, 20, 8, 36, 55), '6', '15', 'Sai Satyaprangya', 'Dhalpur Government High school', 'Odapada', 'Dhenkanal', '7205645687', 'No')
(datetime.datetime(2020, 12, 20, 8, 36, 57), '5', '15', 'Paduram Bhatra', 'Govt SSD high school Bhamini', 'Umarkote', 'Nabarangpur', '9078236919', 'Yes')
(datetime.datetime(2020, 12, 20, 8, 37, 1), '6', '15', 'Bholaram prusty', 'Govt high school mendhimal', 'Boudh', 'Boudh', '9937855508', 'Yes')
(datetime.datetime(2020, 12, 20, 8, 37, 2), '6', '15', 'Jyoti Pidikaka', 'GGHS Muniguda', 'Muniguda', 'Rayagada', '8590717568', 'Yes')
(datetime.datetime(2020, 12, 20, 8, 37, 16), '1', '15', 'Abhiram Parida', 'SSVM Ramnagar', 'Mahakalpada', 'Kendrapara', '9658179687', 'Yes')
(datetime.datetime(2020, 12, 20, 8, 37, 19), '3', '15', 'Khh', 'Hff', 'Balasore', 'Nabarangpur', '964357744', 'No')
(datetime.datetime(2020, 12, 20, 8, 37, 25), '6', '15', 'Rupasingh mahji', 'Govt (SSD)High school gunpur', 'T. Rampur', 'Kalahandi', '8280660493', 'Yes')
(datetime.datetime(2020, 12, 20, 8, 37, 27), '5', '15', 'Barsa rana', 'Govt SSD high school charbhata', '', 'Subarnapur', '6370941848', 'Yes')
(datetime.datetime(2020, 12, 20, 8, 37, 27), '1', '15', 'ALokmaya Behera', 'SACIE gopinathpur', 'Kaniha', 'Bhadrak', '9861232132', 'Yes')

In [22]:
import gspread
import MySQLCredentials as mc
import mysql.connector
from oauth2client.service_account import ServiceAccountCredentials

In [31]:
connection = mysql.connector.connect(
        user = mc.user,
        password = mc.password,
        host = mc.host,
        database = mc.database,
        auth_plugin='mysql_native_password'
        ) 

cursor = connection.cursor(buffered=True)
#cursor.execute("DROP TABLE IF EXISTS ExamData;")
cursor.execute("FLUSH TABLES;")
cursor.execute("SELECT COUNT(*) FROM Practice;")
re = cursor.fetchone()[0]
print(re)

7

In [169]:
f = open("lastRow.txt", "r")
x = f.read()
print(x)
f.close()
x = 2
f = open("lastRow.txt", "w+")
f.write(str(x))
f.close()

2

In [18]:
sql_create_table = """CREATE TABLE {}( 
            TimeStamp DATETIME,
            UserScore VARCHAR(30),
            FullScore VARCHAR(30),
            Name VARCHAR(30),
            School VARCHAR(30),
            Block VARCHAR(30),
            District VARCHAR(30),
            PhoneNo VARCHAR(13),
            IsInstalledApp VARCHAR(10)
            );"""

In [11]:
def createSQLTable(TableName, sql_statement):
    connection = mysql.connector.connect(
        user = mc.user,
        password = mc.password,
        host = mc.host,
        database = mc.database,
        auth_plugin='mysql_native_password'
        ) 
    connection.autocommit = True
    cursor = connection.cursor(buffered=True)
    
    try:
        sql_create_table = sql_statement.format(TableName)
        cursor.execute(sql_create_table)
    except mysql.connector.ProgrammingError as e:
        print(e)
        logs.info(e)
    #connection.commit()
    if connection.is_connected():
        cursor.close()
        connection.close()
        logs.info('MySQL connection is closed.')

In [103]:
createSQLTable('Exams', sql_create_table)

1050 (42S01): Table 'Practice' already exists

In [77]:
connection.close()

In [30]:
def insertDataToSQL(data, sql_statement, TableName):
    connection = mysql.connector.connect(
        user = mc.user,
        password = mc.password,
        host = mc.host,
        database = mc.database,
        auth_plugin='mysql_native_password'
        ) 
    connection.autocommit = True
    cursor = connection.cursor(buffered=True)
    
    f = open("lastRow.txt", "r+")
    x = int(f.read())
    f.close()
    rown = x   
    for i in range(len(data)):   
        insert_data = sql_statement.format(TableName)
        cursor.execute("SELECT COUNT(*) FROM {};".format(TableName))
        RowCount = cursor.fetchone()[0]
        print("Total Rows Now in the SQL Table is:", RowCount)
        if i >= x:
            cursor.execute(insert_data, data[i])
            rown += 1
    f = open("lastRow.txt", "w")
    f.write(str(rown))
    f.close()
    
    if connection.is_connected():
        cursor.close()
        connection.close()
        logs.info('MySQL connection is closed.')

In [19]:
data = [["Name1", "Place1"],["N1", "P1"], ["N2", "P2"], ["N3", "P3"], ["N4", "P4"],["N5", "P5"],["N6", "P6"],["N7","P7"]]

sql_create_table = """CREATE TABLE {}(
                                       Name VARCHAR(20),
                                       Place VARCHAR(20)
                                       )"""

sql_insert_statement = """INSERT INTO {}(
                                        Name,
                                        Place) VALUES (%s, %s)"""


#writeSQL(data, "Practice", sql_insert_statement, drop = False)
createSQLTable("Practice", sql_create_table)
insertDataToSQL(data, sql_insert_statement, "Practice")

0
['Name1', 'Place1']
0
['N1', 'P1']
0
['N2', 'P2']
0
['N3', 'P3']
0
['N4', 'P4']
1
['N5', 'P5']
2
['N6', 'P6']
3
['N7', 'P7']

In [3]:
arr = [1,2,3]
arr = arr[::-1]
arr.append(7)
arr = arr[::-1]

In [4]:
arr

[7, 1, 2, 3]